.innovationlist-main {
    display: flex;
    margin-left: 5%;
    width: 90%;
    flex-wrap: wrap;
}

.innovationlist-column-list {
    width: 13%;
    min-height: 100px;
    border-right: 1px solid #669;
    margin-right: 4%;
}

.innovationlist-row-list {
    padding: 10px;
    margin-top: 5px;
}

.innovationlist-row-list > a {
    text-decoration: none;
    font-family: "AR PL UKai CN";
    border-bottom: 3px solid #2a6496;
    max-width: 80%;
    font-size: 30px;
    text-align: center;
    color: #000;
}

.innovationlist-row-list > a:hover, a:visited {
    background-color: #A3A6A9;
    border-radius: 5px;

}

.innovationlist-row-view {
    flex: 1;
    border: 1px hidden #ccc;
    border-radius: 3px;
    background-color: white;
    min-height: 100px;
}

.navigation-main {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin-left: 5%;
}

.navigation-img {
    background-color: aquamarine;
    min-height: 200px;
    max-height: 300px;
    width: 100%;
    border-radius: 3px;
}

.navigation-row {
    flex: 1;
    flex-direction: row;
    margin: 15px;
    min-height: 40px;
    max-height: 60px;
    text-align: center;
    font-family: "AR PL UKai CN";
    font-size: 17px;
}

.navigation-row > select {
    border: 1px hidden #d5d5d5;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    padding-right: 14px;
}

.innovationlist-row-view {
    display: flex;
    flex: 6;
    flex-direction: column;
}

.innovationlist-row-view > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.competition-list {
    padding: 10px;
    margin: 10px 20px 10px 30px;
    background: white;
}

.competition-list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed darkgray;

}

.competition-list-item > div:first-child {
    max-width: 116px;
    max-height: 110px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 116px;
    min-height: 110px;
}

.competition-list-item > div:first-child > img {
    position: absolute;
    left: -40%;
    top: -10%;
}

.competition-list-item > div:last-child {
    min-height: 100px;
    min-width: 600px;
    color: dimgrey;
}

.competition-h3 {
    margin-top: 8px;
    margin-bottom: 2px;
    color: blue;
}

.competition-time {
    color: green;
}
