.innovationlist-main {
    display: flex;
    margin-left: 5%;
    width: 90%;
    flex-wrap: wrap;
}

.innovationlist-column-list {
    width: 13%;
    min-height: 100px;
    border-right: 1px solid #669;
    margin-right: 4%;
}

.innovationlist-row-list {
<<<<<<< HEAD
    padding: 10px;
    margin-top: 5px;
}

.innovationlist-row-list > a {
    text-decoration: none;
    font-family: "AR PL UKai CN";
    border-bottom: 3px solid #2a6496;
    max-width: 80%;
    font-size: 30px;
    text-align: center;
    color: #000;
}

.innovationlist-row-list > a:hover, a:visited {
    background-color: #A3A6A9;
    border-radius: 5px;
=======
    font-family: "AR PL UKai CN";
    font-size: 30px;
    border-bottom: 1px solid #2b542c;
    text-align: center;
    color: #000;
    max-width: 80%;
    margin: 3%;
}

.innovationlist-row-list:hover{
    border:1px hidden #000;
    border-radius: 5px;
    background-color:#d5d5d5;
    opacity: .8;
>>>>>>> upstream/dev
}

.innovationlist-row-view {
    flex: 1;
    border: 1px hidden #ccc;
    border-radius: 3px;
<<<<<<< HEAD
    background-color: white;
=======
    background-color: whitesmoke;
>>>>>>> upstream/dev
    min-height: 100px;
}

.navigation-main {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin-left: 5%;
}

.navigation-img {
    background-color: aquamarine;
    min-height: 200px;
    max-height: 300px;
    width: 100%;
    border-radius: 3px;
}

.navigation-row {
<<<<<<< HEAD
    flex: 1;
    flex-direction: row;
    margin: 15px;
=======
    flex-direction: row;
    border: 3px solid #dddddd;
    flex: 1;
>>>>>>> upstream/dev
    min-height: 40px;
    max-height: 60px;
    text-align: center;
    font-family: "AR PL UKai CN";
    font-size: 17px;
<<<<<<< HEAD
}

.navigation-row > select {
    border: 1px hidden #d5d5d5;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    padding-right: 14px;
=======
    background-color: #a1a1a1;
>>>>>>> upstream/dev
}

.main-text {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.text-img {
    display: flex;
    flex-direction: column;
}

.competition-column-list {
    display: flex;
    padding: 10px;
    border-bottom: 1px dashed #000;
    flex-direction: row;
}

.sp-img {
    width: 15%;
    height: 12%;

}

.competition-list-a {
    display: flex;
    flex: 0;
    font-family: "AR PL UKai CN";
    font-size: 17px;
    color: #285e8e;
    min-width: 100px;
}

.competition-p {
    font-family: "AR PL UKai CN";
    font-size: 17px;
    flex: 1;
}

.competition-time {
    display: flex;
    flex: 0;
}

<<<<<<< HEAD
.competition-time > span {
=======
.competition-time>span{
>>>>>>> upstream/dev
    margin-left: 5px;
    color: #0F6;
}

.next-page {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}

.competition-row-list {
    flex: 1;
<<<<<<< HEAD
    margin-top: 10px;
    background-color: white;
=======
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    background-color: #1d84e9;
    margin: 10px;
>>>>>>> upstream/dev
    min-width: 70px;
    max-width: 150px;
    text-align: center;
}

.competition-row-list-last {
    min-width: 120px;
}


