body {
    background-color: #f2ecd4;
}

.elegant {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
<<<<<<< HEAD
    padding-top: 50px;
=======
    margin-top: 50px;
>>>>>>> upstream/master
}

.elegant-slide {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    padding: 0 20px;
    margin-top: 30px;
=======
    padding:0 20px;
    margin-top:30px;
>>>>>>> upstream/master
    border-right: 1px solid blue;
    height: 100%;
}

.elegant-container {
    display: flex;
    flex: 6;
    flex-direction: column;
}

.elegant-container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.elegant-slide ul li {
    font-family: "AR PL UKai CN";
    font-size: 24px;
    color: #000;
    list-style: none;
    padding: 5px 5px 0 5px;
    margin: 10px 0;
    text-align: center;
    min-width: 160px;
    min-height: 40px;
    border-radius: 8px;
}

.elegant-slide ul li::after {
    border: 1px solid blue;
    content: '';
    margin-top: 5px;
    display: block;
}

ul > .link-style {
    text-decoration: none;
}

ul > .link-style :hover, ul > .link-style :focus {
<<<<<<< HEAD
    background-color: rgba(218, 220, 192, 0.5);
=======
    background-color: rgba(218,220,192, 0.5);
>>>>>>> upstream/master
}

ul .active {
    display: block;
<<<<<<< HEAD
    background-color: #DADCC0;
=======
    background-color:#DADCC0;
>>>>>>> upstream/master
    border-radius: 8px;
}

.elegant-list {
    padding: 10px;
    margin: 10px 20px 10px 30px;
    background: white;
}

.elegant-list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed darkgray;

}

.elegant-list-item > div:first-child {
    max-width: 116px;
    max-height: 110px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 116px;
    min-height: 110px;
}

.elegant-list-item > div:first-child > img {
    position: absolute;
    left: -40%;
    top: -10%;
}

.elegant-list-item > div:last-child {
    min-height: 100px;
    min-width: 600px;
    color: dimgrey;
<<<<<<< HEAD
}

h3 {
    margin-top: 8px;
    margin-bottom: 2px;
    color: blue;
}

time {
    color: green;
}

=======
}

h3 {
    margin-top: 8px;
    margin-bottom: 2px;
    color: blue;
}

time {
    color: green;
}
>>>>>>> upstream/master
