.allWallWrap{
    background-image: url(../../../image/honorWall.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    overflow: hidden;
    zoom: 1;
    margin:20px 50px;
    position: relative;
}

.wallTile{
    width: 5%;
    height:100%;
    font-family: "AR PL UKai CN";
    font-size: 5rem;
    position: absolute;
    left:5%;
    line-height: 100%;
}

#starWallTile{
    padding: 1rem 0;
}

#honorWallTile{
    padding: 5rem 0;
}

#wallRotationWall{
    width:80%;
    float: right;
    margin-right:50px;
    overflow: hidden;
    zoom: 1;
}

.wallRotationImage{
    float: left;
    margin: 20px 20px;
}

.wallRotationImage > a > img{
    width: 250px;
    height: 200px;
    border: 2px solid #F2F2F2;
}

.wallRotationLi{
    position: relative;
    left:0;
    animation: lb 20s cubic-bezier(0.1,0.3,0.5,0.7) 0s infinite;
    -webkit-animation:lb 20s infinite;
}

#wallRotationWrap {
    width: 800%;
}

#showImages {
    float: left;
}

#copyImages {
    float: left;
}

#tooltip{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:2px;
    display:none;
    color:#fff;
}

@keyframes lb {
    0%{
        left: 0;
    }
    15%{
        left: 0;
    }
    25%{
        left: -10%;
    }
    35%{
        left: -25%;
    }
    55%{
        left: -45%;
    }
    70%{
        left: -65%;
    }
    85%{
        left: -85%;
    }
    95%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}