#rotationWall{
    overflow: hidden;
    zoom: 1;
}

.rotationImage{
    float: left;
    margin: 20px 20px;
    box-shadow: 3px;
}

.rotationImage > a > img{
    width: 250px;
    height: 200px;
    border: 2px solid #F2F2F2;
}

.rotationLi{
    position: relative;
    left:0;
    animation: lb 35s cubic-bezier(1,1,0,0) 0s infinite;
    -webkit-animation:lb 35s cubic-bezier(1,1,0,0) 0s infinite;
}

#rotationWrap {
    width: 800%;
}

#showImages {
    float: left;
}

#copyImages {
    float: left;
}

@keyframes lb {
    0%{
        left: 0;
    }
    15%{
        left: -5%;
    }
    25%{
        left: -10%;
    }
    35%{
        left: -25%;
    }
    55%{
        left: -45%;
    }
    70%{
        left: -65%;
    }
    85%{
        left: -85%;
    }
    95%{
        left: -95%;
    }
    100%{
        left: -100%;
    }
}