*{
    margin:0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#top_box{
    position: relative;
    width: 100%;
    height:410px;
    border: 1px solid #000;
    margin-top:40px;     /*直接写 top:40px; 有BUG,因为：对于相对定义元素，如果 top 和 bottom 都是 auto，其计算值则都是 0；如果其中之一为 auto，则取另一个值的相反数；如果二者都不是 auto，bottom 将取 top 值的相反数。*/
}
#left{
    position: absolute;
    width: 30%;
    height: 410px;
    border: 1px solid yellow;
    background-color: #CCCCCC;
}
#left ul{
    margin: 30px 20%;
    height: 300px;
}
#left ul li{
    height: 50px;
    background-color: #FF3366;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border: 1px solid green;
}
#right{
    position: absolute;
    height: 410px;
    width: 70%;
    border: 1px solid red;
    right: 0;
}