#bottom{
    height: 287px;
    width: 100%;
    border: 1px solid green;
    bottom: 0;
}
#bottom ul{
    margin:20px 80px 20px 80px;
}
#bottom ul li{
    height: 250px;
    width: 250px;
    margin-right: 20px;
    background-color: yellow;
    float: left;
}