#bottom {
    height: 287px;
    width: 100%;
    border: 1px solid green;
    bottom: 0;
}

#bottom ul {
    margin: 20px auto;
}

#bottom ul li {
    height: 250px;
    width: 250px;
    margin: 0 10px;
    background-color: yellow;
    float: left;
}