#main_box{
    width: 100%;
    border: 1px solid #000;
    /*height: 750px;*/
    position: absolute;
    top: 40px;
}
#top_header{
    position: relative;
    height: 50px;
    border: 1px solid green;
    text-align: center;
    line-height: 50px;
}
#div1{
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #00FF66 ;
}
#div2{
    position: absolute;
    margin-left: 40%;
    width: 30%;
    height: 100%;
    background-color: #00FFFF ;
}
#div3{
    position: absolute;
    margin-left: 70%;
    width: 15%;
    height: 100%;
    background-color: #666699 ;
}
#div4{
    position: absolute;
    margin-left: 85%;
    width: 15%;
    height: 100%;
    background-color: #99CC99 ;
}
#container{
    height: 660px;
    border: 1px solid red;
    margin:20px auto;
    width: 1182px;
}
#alert{
    width: 554px;
    height:303px;
    margin:80px 359px;
    background-color:#ffffff;
    position: absolute;
}
.cart-color,
.cart-color.red {
    background: linear-gradient(270deg, rgba(255, 115, 155, .7), #ff739b)
}

.cart-color.orange {
    background: linear-gradient(270deg, rgba(255, 150, 0, .7), #ff9600)
}

.cart-color.green {
    background: linear-gradient(270deg, rgba(0, 185, 90, .7), #00b95a)
}

.cart-color.cyan {
    background: linear-gradient(270deg, rgba(0, 200, 200, .7), #00c8c8)
}

.cart-color.blue {
    background: linear-gradient(270deg, rgba(75, 150, 220, .7), #4b96dc)
}

.cart-color.purple {
    background: linear-gradient(270deg, rgba(210, 115, 230, .7), #d273e6)
}

.course-card-container {
    width: 224px;
    height: 228px;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
    transition: .3s all linear
}

.course-card-container .course-card-top i {
    float: left;
    font-size: 16px;
    color: #fff;
    line-height: 48px;
    margin-right: 8px;
    display: none
}

.course-card-container.coding .course-card-top i {
    display: block
}

.course-card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .2)
}

.g-banner,
.path-banner {
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1)
}

.course-card-container .course-cart-new {
    display: none;
    position: absolute;
    width: 44px;
    height: 24px;
    z-index: 2;
    right: -5px;
    top: -4px
}

.course-card-container.new .course-cart-new {
    display: block
}

.course-card-container .course-card-bk {
    position: absolute;
    width: 224px;
    height: 228px;
    z-index: 0;
    left: 0;
    top: 0;
    border-radius: 4px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat
}
.container-types .types-content-left,
.path-card-container>a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.course-card-container .course-card-bk img {
    border-radius: 4px
}

.course-card-container .course-card {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden
}

.course-card-container .course-card-top {
    height: 48px;
    padding: 0 20px;
    overflow: hidden
}

.course-card-container .course-card-top span {
    float: left;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 48px;
    margin-right: 10px
}

.course-card-container .course-card-content {
    height: 180px;
    background-color: #fff;
    padding: 16px 24px;
    box-sizing: border-box
}

.course-card-container .course-card-name {
    font-size: 14px;
    color: #07111b;
    line-height: 24px;
    max-height: 48px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    /*text-overflow: -o-ellipsis-lastline;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    letter-spacing: -.1px
}

.course-card-container p {
    height: 48px;
    word-break: normal;
    word-wrap: break-word;
    overflow: hidden;
    /*text-overflow: -o-ellipsis-lastline;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.course-card-container .course-card-info,
.course-card-container p {
    font-size: 12px;
    color: #93999f;
    line-height: 24px;
    margin: 8px 0
}

.course-card-container .course-card-info {
    float: left;
    margin: 0
}

.course-card-container .course-card-info span {
    margin: 0 3px 0 4px;
    font-weight: 800
}

.course-card-container .course-card-info i {
    font-style: normal
}

.course-card-container .course-card-bottom {
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-align: right
}

.course-card-container .course-card-learning {
    position: absolute;
    width: 40px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    background-color: #2b333b;
    font-weight: 200;
    text-align: center;
    right: -4px;
    top: 12px;
    z-index: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.course-card-container .course-card-learning i {
    font-size: 16px;
    line-height: 24px
}

.course-card-container .course-card-learning:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 4px solid #2b333b;
    border-right: 4px solid transparent;
    right: 0;
    bottom: -4px
}

.course-card-container .course-card-price {
    float: right;
    color: #f01414;
    font-weight: 200
}
.index-card-container{
    float: right;
    margin-right: 10px;
    margin-top:10px;
}