<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> upstream/master
.footer {

}

<<<<<<< HEAD
=======
>>>>>>> upstream/dev
=======
>>>>>>> upstream/master
.footer-link {
    font-size: 30px;
    margin-left: 6%;
    min-width: 40px;
    min-height: 60px;
    max-width: 88%;
    margin-bottom: 30px;
    border-bottom: 2px solid #000;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-item {
    min-width: 160px;
    height: 25px;
    font-size: 20px;
    flex-wrap: nowrap;
    margin-left: 60px;
}

.footer-img {
    background: url("../../../image/homepage/erweima.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border: 1px hidden #000000;
}

.footer-oh {
    font-size: 18px;
    text-align: center;
}
