body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #000;
}

.nav-box{
    background-color: #5e5e5e;
}

.nav > li > .header-link {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff;
}

.nav-box > ul{
    width: 740px;
    margin-left: 17%;
}

.nav > li > .header-link:hover,
.nav > li > .header-link:focus {
    text-decoration: none;
    background-color: #52d029;
}