body {
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    color: #000;
}

.nav-box {
    background-color: #A3A6A9;
    opacity: .8;
}

.nav > li > .header-link {
    position: relative;
    display: block;
    padding: 10px 10px;
    color: #fff;
}

.nav-box > ul {
    width: 740px;
    margin-left: 17%;
}

.nav > li > .header-link:hover {
    background-color: #71ad59;
    position: relative;
}

.nav > li > .header-link:focus {
    text-decoration: none;
    background-color: #52d029;

}

.nav > li > ul {
    display: none;
    position: absolute;
    background-color: #FFF;
}

.nav > li:hover > ul {
    display: block;
}

.nav > li > ul > li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.nav > li > ul > li:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
}