#honorWall1{
    width:80%;
    float: right;
    margin-right:50px;
    overflow: hidden;
    zoom: 1;
}

.honorImage{
    float: left;
    margin: 20px 20px;
}

.honorImage > a > img{
    width: 250px;
    height: 200px;
    border: 2px solid #F2F2F2;
}

.honorli{
    position: relative;
    left:0;
    animation: lb 25s cubic-bezier(1,1,0,0) 0s infinite;
    -webkit-animation:lb 25s cubic-bezier(1,1,0,0) 0s infinite;
}

#honorwrap1 {
    width: 800%;
}

#showImages1 {
    float: left;
}

#copyImages1 {
    float: left;
}

#tooltip1{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:2px;
    display:none;
    color:#fff;
}

@keyframes lb {
    0%{
        left: 0;
    }
    15%{
        left: 0;
    }
    25%{
        left: -10%;
    }
    35%{
        left: -25%;
    }
    55%{
        left: -45%;
    }
    70%{
        left: -65%;
    }
    85%{
        left: -85%;
    }
    95%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}