body{
    background: #ddd;
}
.newswall-view-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:2% 5%;
}
.XU-hot-news-list{
    overflow: hidden;
<<<<<<< HEAD
    min-height: 200px;
    max-height: 225px;
}

.XU-hot-news {
    width: 30%;
=======
<<<<<<< HEAD
    min-height: 200px;
    max-height: 225px;
}

.XU-hot-news {
    width: 30%;
=======
    height: 200px;
}

.XU-hot-news {
>>>>>>> upstream/dev
>>>>>>> upstream/dev
    border: 1px hidden #a1a1a1;
    border-radius: 5px;
    background: white;
}

.view-box-p {
    text-align: center;
<<<<<<< HEAD
    font-size: 20px;
    margin: 15px;
}

.hot-news-img {
    margin-bottom: 15px;
=======
<<<<<<< HEAD
    font-size: 20px;
    margin: 15px;
}

.hot-news-img {
    margin-bottom: 15px;
=======
    font-size: 35px;
    margin: 25px;
}

.hot-news-img {
    margin-bottom: 25px;
>>>>>>> upstream/dev
>>>>>>> upstream/dev
    border: 1px solid red;
    min-height: 180px;
    width: 100%;
}

.hot-news-list {
<<<<<<< HEAD
=======
<<<<<<< HEAD
    text-align: center;
    font-size: 16px;
    min-height: 40px;
    max-height: 120px;
=======
    min-width: 450px;
>>>>>>> upstream/dev
    text-align: center;
    font-size: 16px;
    min-height: 40px;
<<<<<<< HEAD
    max-height: 120px;
=======
>>>>>>> upstream/dev
>>>>>>> upstream/dev
}

.hot-news-row-span{
    margin-left: 15px;
<<<<<<< HEAD
    font-size: 16px;
}

.XU-hot-notice{
    width: 30%;
=======
<<<<<<< HEAD
    font-size: 16px;
}

.XU-hot-notice{
    width: 30%;
=======
    font-size: 20px;
}

.XU-hot-notice{
>>>>>>> upstream/dev
>>>>>>> upstream/dev
    border: 1px hidden #a1a1a1;
    border-radius: 5px;
    background: white;
}

.hot-notice-img{
<<<<<<< HEAD
    margin-bottom: 15px;
=======
<<<<<<< HEAD
    margin-bottom: 15px;
=======
    margin-bottom: 25px;
>>>>>>> upstream/dev
>>>>>>> upstream/dev
    border: 1px solid red;
    min-height: 180px;
    width: 100%;
}

.XU-hot-view{
<<<<<<< HEAD
    width: 30%;
=======
<<<<<<< HEAD
    width: 30%;
=======
>>>>>>> upstream/dev
>>>>>>> upstream/dev
    border: 1px hidden #a1a1a1;
    border-radius: 5px;
    background: white;

}

.hot-view-row1{
    min-height: 220px;
    border: 1px hidden #a1a1a1;
    background: #8a6d3b;
    width: 100%;
    margin-bottom: 2%;
}
.hot-view-row2{
    min-height: 220px;
    border: 1px hidden #a1a1a1;
    background: #8a6d3b;
    width: 100%;
    margin-bottom: 2%;
}